@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

html, body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

html {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #000;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
}

.copy-container {
    text-align: center;
}

p {
    color: #fff;
    font-size: 24px;
    letter-spacing: .2px;
    margin: 0;
}

.handle {
    width: 14px;
    height: 30px;
    top: 0;
    left: 0;
    margin-top: 1px;
    position: absolute;
}

#cb-replay {
    fill: #666;
    width: 20px;
    margin: 15px;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: inherit;
    cursor: pointer;

}